<section class="benefits-wrapper">
    <h2 class="benefits-title">¿Por qué pasarte a Premium?</h2>
    <div class="benefits">
      <article class="benefit">
        <img
          class="benefit-img"
          src="./assets/images/benefit-1.png"
          alt="Descarga música"
        />
        <div class="info">
          <h3 class="benefit-title">Descarga música</h3>
          <p class="benefit-description">Llévala siempre contigo</p>
        </div>
      </article>
      <article class="benefit">
        <img
          class="benefit-img"
          src="./assets/images/benefit-2.png"
          alt="Sin anuncios"
        />
        <div class="info">
          <h3 class="benefit-title">Sin anuncios</h3>
          <p class="benefit-description">
            Disfruta de música sin interrupciones
          </p>
        </div>
      </article>
      <article class="benefit">
        <img
          class="benefit-img"
          src="./assets/images/benefit-3.png"
          alt="Escucha lo que quieras"
        />
        <div class="info">
          <h3 class="benefit-title">Escucha lo que quieras</h3>
          <p class="benefit-description">Incluso en el móvil</p>
        </div>
      </article>
      <article class="benefit">
        <img
          class="benefit-img"
          src="./assets/images/benefit-4.png"
          alt="Salta todas las canciones que quieras"
        />
        <div class="info">
          <h3 class="benefit-title">
            Salta todas las canciones que quieras
          </h3>
          <p class="benefit-description">Simplemente dale a siguiente</p>
        </div>
      </article>
    </div>
  </section>