<section class="benefits-wrapper">
  <h2 class="benefits-title">¿Por qué pasarte a Premium?</h2>
  <div class="benefits">
    <include src="./article.html" imgsrc="./assets/images/benefit-1.png" imgAlt="Descarga música"
      classtitle="Descarga música" classtext="Llévala siempre contigo">
    </include>
    <include src="./article.html" imgsrc="./assets/images/benefit-2.png" imgAlt="Sin anuncios"
      classtitle="Sin anuncios" classtext="Disfruta de música sin interrupciones">
    </include>
    <include src="./article.html" imgsrc="./assets/images/benefit-3.png" imgAlt="Escucha lo que quieras"
      classtitle="Escucha lo que quieras" classtext="Incluso en el móvil">
    </include>
    <include src="./article.html" imgsrc="./assets/images/benefit-4.png" imgAlt="Salta todas las canciones que quieras"
      classtitle="Salta todas las canciones que quieras" classtext="Simplemente dale a siguiente">
    </include>
  </div>
</section>