.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
  background-color: $backgroundHeaderFooter;
}

.footer,
.footer * {
  font-size: 10px;
  color: $textFooter;
}

.footer-menu-links:hover {
  color: $textHeaderHero;
}

.footer-menu-items {
  display: inline-block;
}

.footer-menu-links {
  display: inline-block;
  padding: 7px;
}