@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/benefits';
@import 'layout/footer';

  /* main */
  
  .main {
    margin-top: 60px; /* esto es lo que mide el header */
  }

  /* copy */
  
  .copy {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  
  .copy-year {
    margin-top: 5px;
  }
  
  .copy-spain-flag {
    margin-left: 5px;
    height: 15px;
    vertical-align: text-bottom;
  }
  
  /* media queries */
  
  @media all and (min-width: 768px) {
  
    .hero {
      background-image: url(../images/premium-dancer.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: right;
    }
    .hamb{
      display: none;
    }
    .nav{
      display: block;
    }
    .hero-title {
      margin-top: 100px;
    }
    .benefits {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 700px;
    }
  
    .benefit {
      width: 50%;
    }
  }
  
  @media all and (min-width: 1200px) {
    .benefits {
      flex-direction: row;
      flex-wrap: nowrap;
      max-width: 1000px;
    }
  
    .benefit {
      display: block;
    }
  }
  